<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main has-sidebar","layout":{"type":"default"}} -->
<main class="wp-block-group site-main has-sidebar">

	<!-- wp:group {"className":"site-main-content","layout":{"type":"default"}} -->
	<div class="wp-block-group site-main-content">
		<!-- wp:farnost/feed /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"sidebar"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
